name: CI - Build and Test Application

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Construction des images Docker
        run: docker-compose build

      - name: Démarrage des conteneurs
        run: docker-compose up -d

      - name: Vérification des conteneurs actifs
        run: docker-compose ps

      - name: Arrêt des conteneurs
        run: docker-compose down