name: CI - Build and Test Application

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

              
      - name: Installation de Docker Compose
        run: |
                sudo apt-get update
                sudo apt-get install docker-compose -y

              
      - name: Construction des images Docker
        run: docker-compose build

              
      - name: Démarrage des conteneurs
        run: docker-compose up -d

              
      - name: Vérification des conteneurs actifs
        run: docker-compose ps

              
      - name: Arrêt des conteneurs
        run: docker-compose down